@page
@model SavedCoursesModel
@{
    ViewData["Title"] = "Saved Items";
    ViewData["ActivePage"] = ManageNavPages.SavedCourses;
}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-md-6 col-sm-12" style="text-align:right;padding-right:50px;">
        <a class="btn btn-md btn-outline-danger" onclick="DeleteAll();"><i class="fa fa-trash"></i> Delete All</a>
    </div>
 
  
</div>

<partial name="_StatusMessage" for="StatusMessage" />
<div id="savedcourses-div" class="row p-3">
 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   <script>
       $(document).ready(() => {
            GetSavedCourses();
       })
     
   </script>
}
